div{
   
}
.LogoFia{
    background-color: white;
    position: ;
    top: 10px;
    left: 10px;
    width: 2000px;
    height: 60px;
    font-size: 100px;
}
.Campeonato{
    
    background-color: aquamarine;
    position: ;
    top: 80px;
    left: 10px;
    width: 587px;
    height: 520px;
    font-size: 2px;
    font-style: arial;
    font: small;


}
.Bahrein{
    background-color: red;
    position: ;
    top: 100px;
    left: 10px;
    width: 581px;
    height: 285px;
    font-size: 2px;
    font-style: arial;
    font: small;

}
.Arabia{
    background-color: pink;
    position: ;
    top: 80px;
    left: 10px;
    width: 587px;
    height: 288px;
    font-size: 2px;
    font-style: arial;
    font: small;

}

.Austrália{
    background-color: grey;
    position: ;
    top: 100px;
    left: 10px;
    width: 583px;
    height: 288px;
    font-size: 2px;
    font-style: arial;
    font: small;

}
.Construtores1{
    background-color: blueviolet;
    position: ;
    top: 100px;
    left: 10px;
    width: 358px;
    height: 218px;
    font-size: 2px;
    font-style: arial;
    font: small;

}

.Construtores2{
    background-color: burlywood;
    position: ;
    top: 100px;
    left: 10px;
    width: 358px;
    height: 195px;
    font-size: 2px;
    font-style: arial;
    font: small;

}
.Construtores3{
    background-color: chartreuse;
    position: ;
    top: 100px;
    left: 10px;
    width: 358px;
    height: 217px;
    font-size: 2px;
    font-style: arial;
    font: small;

}
.Construtores4{
    background-color: crimson;
    position: ;
    top: 100px;
    left: 10px;
    width: 358px;
    height: 288px;
    font-size: 2px;
    font-style: arial;
    font: small;

}



.participantes
{
    background-color: cornflowerblue;
    position: ;
    top: 100px;
    left: 10px;
    width: 415px;
    height: 523px;
    font-size: 2px;
    font-style: arial;
    font: small;

}

.pontos{
    background-color: yellowgreen;
    position: ;
    top: 100px;
    left: 10px;
    width: 233px;
    height: 288px;
    font-size: 2px;
    font-style: arial;
    font: small;

}
